In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load dataset
data = pd.read_csv('./dataset/Modified_SQL_Dataset.csv')

# Assuming the dataset has 'query' and 'label' columns
X = data['Query']
y = data['Label']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [3]:

X_train

4043     1"   )    )    and   (  7467  =  7962  )  *796...
23287      SELECT * FROM position WHERE broke IN  ( 'va...
18329                            niwinska@estudiodeyoga.td
9477     -4644 or 5903  =    (  'qqpjq'||  (  select ca...
25597    SELECT * FROM variety WHERE social = 'business...
                               ...
29802           SELECT column_name ( s )  FROM suggest,had
5390     1'  )   and 4380  =  5851 and   (  'cxcl'  =  ...
860       select * from users where id  =  1 or 1#"{ un...
15795                 baxley@italianmotorvillagesevilla.sh
23654     SELECT * FROM lungs WHERE advice = 'egg' LIMIT 3
Name: Query, Length: 24735, dtype: object

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Train the model
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)

# Evaluate the model
y_pred = model.predict(X_test_tfidf)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      3893
           1       0.99      0.94      0.96      2291

    accuracy                           0.97      6184
   macro avg       0.98      0.96      0.97      6184
weighted avg       0.97      0.97      0.97      6184

In [7]:
import joblib

joblib.dump(model, './Models/sql_injection_model.pkl')
joblib.dump(vectorizer, './Models/vectorizer.pkl')

['./Models/vectorizer.pkl']